<ul>
<%= form_for @blog do |f| %>

  <li><%= f.text_field :title, placeholder: '博客标题', class: 'blog-title' %>
  <li>
  <div style='margin-top: 10px'>
  <p> 上传blog 简短展示的图片（已经存在的无需在上传） <%= f.file_field :image %> </p>
</div>
  <li>
  <p> 下面书写blog内容
  <%= f.kindeditor :content%>
  <li>
  <p> 下面书写简短展示时候的blog内容 </p>
  <%= f.text_area :content_short, class: 'blog-short' %>
  <div>
    <%= f.submit '创建blog', class: 'btn btn-primary'%>
  </div>
<% end %>
</ul>
<div style='margin-bottom:10px'></div>
