<div class="container"  style="margin-top:55px;">
 <div class="blog_holder masonry masonry_infinite_scroll" id='my-blog' style="position: relative; height: 3107px; opacity: 1;">
  <article id="post-5" class="my-article post-5 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-analysis tag-articles tag-business tag-opportunities" style="margin: 5px;">
   <div class="post_image">
    <a href="#"><img src="http://demo.qodeinteractive.com/bridge37/wp-content/uploads/2013/10/b-inteligent-transitions-in-ux-design.jpg" /></a>
   </div>
   <div class="post_text">
    <div class="post_text_inner">
     <h5><a href="http://demo.qodeinteractive.com/bridge37/inteligent-transitions-in-ux-design/" target="_self" title="Transitions In UX Design">Transitions In UX Design</a></h5>
     <p class="post_excerpt">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its necessary...</p>
     <div class="post_info">
      <span class="time">04 October, 2013</span>
     </div>
    </div>
   </div>
  </article>
  <article id="post-5" class="my-article post-5 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-analysis tag-articles tag-business tag-opportunities" style="margin: 5px;">
   <div class="post_image">
    <a href="#"><img src="http://demo.qodeinteractive.com/bridge37/wp-content/uploads/2013/10/b-inteligent-transitions-in-ux-design.jpg" /></a>
   </div>
   <div class="post_text">
    <div class="post_text_inner">
     <h5><a href="http://demo.qodeinteractive.com/bridge37/inteligent-transitions-in-ux-design/" target="_self" title="Transitions In UX Design">Transitions In UX Design</a></h5>
     <p class="post_excerpt">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its necessary...</p>
     <div class="post_info">
      <span class="time">04 October, 2013</span>
     </div>
    </div>
   </div>
  </article>
  <article id="post-5" class="my-article post-5 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-analysis tag-articles tag-business tag-opportunities" style="margin: 5px;">
   <div class="post_image">
    <a href="#"><img src="http://demo.qodeinteractive.com/bridge37/wp-content/uploads/2013/10/b-inteligent-transitions-in-ux-design.jpg" /></a>
   </div>
   <div class="post_text">
    <div class="post_text_inner">
     <h5><a href="http://demo.qodeinteractive.com/bridge37/inteligent-transitions-in-ux-design/" target="_self" title="Transitions In UX Design">Transitions In UX Design</a></h5>
     <p class="post_excerpt">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its necessary...</p>
     <div class="post_info">
      <span class="time">04 October, 2013</span>
     </div>
    </div>
   </div>
  </article>
  <article id="post-5" class="my-article post-5 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-analysis tag-articles tag-business tag-opportunities" style="margin: 5px;">
   <div class="post_image">
    <a href="#"><img src="http://demo.qodeinteractive.com/bridge37/wp-content/uploads/2013/10/b-inteligent-transitions-in-ux-design.jpg" /></a>
   </div>
   <div class="post_text">
    <div class="post_text_inner">
     <h5><a href="http://demo.qodeinteractive.com/bridge37/inteligent-transitions-in-ux-design/" target="_self" title="Transitions In UX Design">Transitions In UX Design</a></h5>
     <p class="post_excerpt">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its necessary...</p>
     <div class="post_info">
      <span class="time">04 October, 2013</span>
     </div>
    </div>
   </div>
  </article>
  <article id="post-5" class="my-article post-5 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-analysis tag-articles tag-business tag-opportunities" style="margin: 5px;">
   <div class="post_image">
    <a href="#"><img src="http://demo.qodeinteractive.com/bridge37/wp-content/uploads/2013/10/b-inteligent-transitions-in-ux-design.jpg" /></a>
   </div>
   <div class="post_text">
    <div class="post_text_inner">
     <h5><a href="http://demo.qodeinteractive.com/bridge37/inteligent-transitions-in-ux-design/" target="_self" title="Transitions In UX Design">Transitions In UX Design</a></h5>
     <p class="post_excerpt">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its necessary...</p>
     <div class="post_info">
      <span class="time">04 October, 2013</span>
     </div>
    </div>
   </div>
  </article>
 </div>

</div>
