div
  = form_for @user do |f|
    li = f.email_field 'email', placeholder: 'email', type: 'email'
    li = f.password_field 'password', placeholder: 'password'
    li = f.text_field 'username', placeholder: 'password'
    li = f.submit '更新信息'
