div
  = form_for @user, url: auth_users_path do |f|
    li = f.email_field 'email', placeholder: 'email', type: 'email'
    li = f.password_field 'password', placeholder: 'password'
    li = f.submit '登陆'
