 <!-- paspartu_outer close div -->
<footer>
    <div class="footer_inner clearfix">
        <div class="footer_top_holder">
            <div class="footer_top">
                <div class="container">
                    <div class="container_inner">
                        <div class="three_columns clearfix">
                            <div class="column1">
                                <div class="column_inner">
                                    <div id="text-4" class="widget widget_text">
                                        <div class="textwidget">
                                            <div class="separator  transparent position_center  " style="margin-top: 35px;">
                                            </div>
                                            <h5>
                                                <!-- Contact Call Center
                                                <span style="color: #fff;">
                                                    097 55 673
                                                </span> -->
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column2">
                                <div class="column_inner">
                                    <div id="text-3" class="widget widget_text">
                                        <div class="textwidget">
                                            <div style="text-align: center;">
                                                <img src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/logo-image-footer01.png"
                                                alt="" style="vertical-align:middle;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column3">
                                <div class="column_inner">
                                    <div id="text-5" class="widget widget_text">
                                        <div class="textwidget">
                                            <div class="separator  transparent position_center  " style="margin-top: 35px;">
                                            </div>
                                           <!--  <h5>
                                               Contact Call Center
                                               <span style="color: #fff;">
                                                   097 55 673
                                               </span>
                                           </h5> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom_holder">
            <div class="footer_bottom">
                <div class="textwidget">
                    <div class="separator  transparent position_center  " style="margin-top: 97px;">
                    </div>
                    <h2>
                        <span style="color: #ffffff;">
                            关注我们的微信号
                        </span>
                    </h2>
                    <div class="separator  small position_center  " style="margin-top: 23px;margin-bottom: 30px;">
                    </div>
                    <span class='q_social_icon_holder circle_social' data-hover-background-color=#ffffff
                    data-hover-color=#c09f66>
                        <img src='https://raw.githubusercontent.com/rudyboy/secret-wechat/master/images/code.jpg'/>
                    </span>
                    <!-- <span class='q_social_icon_holder circle_social' data-hover-background-color=#ffffff
                    data-hover-color=#c09f66>
                        <a href='http://twitter.com' target='_blank'>
                            <span class='fa-stack fa-3x' style='background-color: #c09f66;border-width: 0px;margin: 0 11px 0 0;font-size: 32px;'>
                                <i class='fa fa-twitter' style='color: #ffffff;font-size: 24px;'>
                                </i>
                            </span>
                        </a>
                    </span> -->
 <!--                    <span class='q_social_icon_holder circle_social' data-hover-background-color=#ffffff
 data-hover-color=#c09f66>
     <a href='https://pinterest.com/' target='_blank'>
         <span class='fa-stack fa-3x' style='background-color: #c09f66;border-width: 0px;margin: 0 11px 0 0;font-size: 32px;'>
             <i class='fa fa-pinterest' style='color: #ffffff;font-size: 24px;'>
             </i>
         </span>
     </a>
 </span>
 <span class='q_social_icon_holder circle_social' data-hover-background-color=#ffffff
 data-hover-color=#c09f66>
     <a href='https://plus.google.com/' target='_blank'>
         <span class='fa-stack fa-3x' style='background-color: #c09f66;border-width: 0px;margin: 0 11px 0 0;font-size: 32px;'>
             <i class='fa fa-google-plus' style='color: #ffffff;font-size: 24px;'>
             </i>
         </span>
     </a>
 </span> -->
                    <div class="separator  transparent position_center  " style="margin-top: 33px;">
                    </div>
                    <p>
                        <span style="color: #ffffff;">
                           copyright by rudy 2015
                        </span>
                    </p>
                    <div class="separator  transparent position_center  " style="margin-top: 90px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>