<header class="scroll_header_top_area  stick_with_left_right_menu scrolled_not_transparent page_header left_right_margin_set">
 <div class="header_inner clearfix">
  <div class="header_top_bottom_holder">
   <div class="header_bottom clearfix" style="">
    <div class="container">
     <div class="container_inner clearfix">
        <nav class="navbar navbar-default navbar-fixed-top nav-justified">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav nav-right">

                <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                <li class="my-li <%= is_active?(0) %>">
                    <a href="/">首页</a>
                </li>
                <li class='my-li <%= is_active?(1) %>'>
                  <a href="/products">产品</a>
                </li>
                <li class="my-li <%= is_active?(2) %>">
                  <a href="/blogs" >博客</a>
                </li>
                <li class="my-li <%= is_active?(3) %>">
                  <a href="/pages/about" >关于GAIA</a>
                </li>
                <li class="my-li <%= is_active?(4) %>">
                  <a href="/pages/contract" >索取样品</a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
     </div>
    </div>
   </div>
  </div>
 </div>
</header>