<html>
 <head></head>
 <body>
  <div class="paspartu_outer  disable_top_paspartu paspartu_on_bottom_fixed">
   <div class="paspartu_left"></div>
   <div class="paspartu_right"></div>
   <div class="paspartu_bottom" style="height: 38px;"></div>
   <div class="paspartu_inner">
    <div class="content content_top_margin_none" style="padding-top: 10px; min-height: auto;">
     <div class="content_inner  " style="position: relative; visibility: visible; display: block;">
      <div class="container">
       <div class="container_inner default_template_holder">
        <div class="blog_holder blog_large_image_simple">

         <article id="post-38" class="post-38 post type-post status-publish format-video has-post-thumbnail hentry category-art tag-art tag-culture tag-events tag-video post_format-post-format-video">
          <div class="post_content_holder my-post">
           <div class="post_text">
            <div class="post_text_inner my-text">
             <div class="minimalist_date">
              October 4, 2013
             </div>
             <h2><a href="http://demo.qodeinteractive.com/bridge79/supernatural-fx-showreel/" title="Supernatural FX Showreel">Supernatural FX Showreel</a></h2>
             <div class="separator small center"></div>
             <p class="post_excerpt">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its necessary elements. Minimalist design has been highly influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is a major source of reference...</p>
            </div>
           </div>
          </div>
         </article>
         <article id="post-38" class="post-38 post type-post status-publish format-video has-post-thumbnail hentry category-art tag-art tag-culture tag-events tag-video post_format-post-format-video">
          <div class="post_content_holder my-post">
           <div class="post_text">
            <div class="post_text_inner my-text">
             <div class="minimalist_date">
              October 4, 2013
             </div>
             <h2><a href="http://demo.qodeinteractive.com/bridge79/supernatural-fx-showreel/" title="Supernatural FX Showreel">Supernatural FX Showreel</a></h2>
             <div class="separator small center"></div>
             <p class="post_excerpt">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its necessary elements. Minimalist design has been highly influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is a major source of reference...</p>
            </div>
           </div>
          </div>
         </article>
         <article id="post-38" class="post-38 post type-post status-publish format-video has-post-thumbnail hentry category-art tag-art tag-culture tag-events tag-video post_format-post-format-video">
          <div class="post_content_holder my-post">
           <div class="post_text">
            <div class="post_text_inner my-text">
             <div class="minimalist_date">
              October 4, 2013
             </div>
             <h2><a href="http://demo.qodeinteractive.com/bridge79/supernatural-fx-showreel/" title="Supernatural FX Showreel">Supernatural FX Showreel</a></h2>
             <div class="separator small center"></div>
             <p class="post_excerpt">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its necessary elements. Minimalist design has been highly influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is a major source of reference...</p>
            </div>
           </div>
          </div>
         </article>
         <div class="pagination">
         此处为排序页
         </div>
        </div>
       </div>
      </div>
      <div class="content_bottom">
      </div>
     </div>
    </div>
   </div>
   <!-- paspartu_inner close div -->
  </div>
  <!-- paspartu_outer close div -->

  <%= form_for Product.new do |f| %>
       <%= f.kindeditor :profile %>
  <% end %>


