<div class="paspartu_outer  disable_top_paspartu paspartu_on_bottom_fixed">
    <div class="paspartu_inner">
        <div class="content content_top_margin_none">
            <div class="content_inner  ">
                <div class="full_width">
                    <div class="full_width_inner">
                        <div class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                                <div class="vc_col-sm-12 wpb_column vc_column_container ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_layerslider_element wpb_content_element">
                                            <%= render '/shared/lunbo' %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row section vc_row-fluid grid_section" style=' padding-top:120px; padding-bottom:135px; text-align:center;'>
                            <div class=" section_inner clearfix">
                                <div class='section_inner_margin clearfix'>
                                    <div class="  element_from_fade">
                                        <div style='transition-delay:0.5ms; -webkit-animation-delay:0.5ms; animation-delay:0.5ms;' class='my-css'>
                                            <div class="vc_col-sm-10 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1 vc_col-xs-offset-1 vc_col-xs-10 wpb_column vc_column_container ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">
                                                        <div>
                                                            <div class="wpb_wrapper">
                                                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                    <img width="28" height="29" src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/custom-icon.png"
                                                                    class="vc_single_image-img attachment-full" alt="c" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="separator  transparent center  " style="margin-top: 20px;margin-bottom: 0px;">
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h3>
                                                                 欢迎来到
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="separator  transparent center  " style="margin-top: 20px;margin-bottom: 0px;">
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h2>盖桠
                                                            </h2>
                                                        </div>
                                                    </div>
                                                    <div class="separator  small center  " style="">
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>
                                                        盖桠是由旅居德国多年的德籍华人创立的植物护肤品牌。<br>
它将先进专业的德国技术和草本美颜的中式理念结合起来，</br>用严谨科学的方法萃取嘉木繁花之精华</br>唤醒植物原始的护肤力量，让你绽放出天然本真之美。
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row section vc_row-fluid grid_section container" style='background-color:#f5f3ef; padding-top:100px; padding-bottom:86px; text-align:left;'>
                            <div class=" section_inner clearfix">
                                <div class='section_inner_margin clearfix'>
                                    <div class="  element_from_left">
                                        <div style='transition-delay:700ms; -webkit-animation-delay:700ms; animation-delay:700ms;'>
                                            <div class="vc_col-sm-6 wpb_column vc_column_container ">
                                                <div class="wpb_wrapper">
                                                    <div class="separator  transparent center  " style="margin-top: 0px;margin-bottom: 35px;">
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h3>
                                                                春季 2015
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="separator  transparent center  " style="margin-top: 10px;margin-bottom: 0px;">
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h2>
                                                                橙花护肤系列
                                                            </h2>
                                                        </div>
                                                    </div>
                                                    <div class="separator  transparent center  " style="margin-top: 40px;margin-bottom: 0px;">
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>

熬夜压力、空气污染等城市病让肌肤黯淡干燥，并且由此产生多种肌肤问题。
盖桠橙花保湿面膜通过完美搭配珍贵的摩洛哥橙花和德国洋甘菊精油，并加入多种中药原液，迅速渗透肌肤表层，补充流失水分，镇定舒缓因干燥带来的刺痛敏感，深层补水的同时帮助肌肤恢复锁水能力，让肌肤水润剔透、柔嫩饱满。
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="separator  transparent center  " style="margin-top: 45px;margin-bottom: 0px;">
                                                    </div>
                                                    <a href="#" target="_self" class="qbutton " style="">
                                                        更多详情
                                                    </a>
                                                    <div class="separator  transparent center  " style="margin-top: 30px;margin-bottom: 0px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-6 wpb_column vc_column_container ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_left  element_from_fade">
                                                        <div style='transition-delay:0.2s'>
                                                            <div class="wpb_wrapper">
                                                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                    <%= image_tag 'face-02.png', class: "home-image vc_single_image-img attachment-full" %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row section vc_row-fluid grid_section container" style='background-color:#ffffff; padding-top:100px; padding-bottom:86px; text-align:left;'>
                            <div class=" section_inner clearfix">
                                <div class='section_inner_margin clearfix'>
                                    <div class="  element_from_right">
                                        <div style='transition-delay:700ms; -webkit-animation-delay:700ms; animation-delay:700ms;'>
                                            <div class="vc_col-sm-6 wpb_column vc_column_container ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_left  element_from_fade">
                                                        <div style='transition-delay:0.2s'>
                                                            <div class="wpb_wrapper">
                                                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                    <%= image_tag 'face-02.png', class: "home-image vc_single_image-img attachment-full" %>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-6 wpb_column vc_column_container ">
                                                <div class="wpb_wrapper">
                                                    <div class="separator  transparent center  " style="margin-top: 0px;margin-bottom: 35px;">
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h3>
                                                                春季 2015
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="separator  transparent center  " style="margin-top: 10px;margin-bottom: 0px;">
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h2>
                                                                橙花护肤系列
                                                            </h2>
                                                        </div>
                                                    </div>
                                                    <div class="separator  transparent center  " style="margin-top: 40px;margin-bottom: 0px;">
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>
熬夜压力、空气污染等城市病让肌肤黯淡干燥，并且由此产生多种肌肤问题。
盖桠橙花保湿面膜通过完美搭配珍贵的摩洛哥橙花和德国洋甘菊精油，并加入多种中药原液，迅速渗透肌肤表层，补充流失水分，镇定舒缓因干燥带来的刺痛敏感，深层补水的同时帮助肌肤恢复锁水能力，让肌肤水润剔透、柔嫩饱满。
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="separator  transparent center  " style="margin-top: 45px;margin-bottom: 0px;">
                                                    </div>
                                                    <a href="#" target="_self" class="qbutton " style="">
                                                        更多详情
                                                    </a>
                                                    <div class="separator  transparent center  " style="margin-top: 30px;margin-bottom: 0px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                      <div class="vc_row wpb_row vc_row wpb_row section vc_row-fluid grid_section container vc_row-fluid grid_section" style='background-color:#f5f3ef; padding-top:120px; padding-bottom:86px; text-align:left;'>
                            <div class=" section_inner clearfix">

                                <div class='section_inner_margin clearfix'>
                                    <center>
                                        <video id="really-cool-video" class="video-js vjs-default-skin" controls
 preload="auto" width='80%' height="400" poster="really-cool-video-poster.jpg"
 data-setup='{}'>
  <source src="http://www.w3schools.com/html/mov_bbb.mp4" type='video/mp4'>
  <source src="really-cool-video.webm" type='video/webm'>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser
    that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
                                    </center>
                                </div>
                            </div>
                        </div>

                        <div class="vc_row wpb_row section vc_row-fluid grid_section container" style='background-color:#fbf9f7; padding-top:90px; padding-bottom:70px; text-align:left;'>
                            <div class=" section_inner clearfix">
                                <div class='section_inner_margin clearfix'>
                                    <div class="vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-1 vc_col-md-10 vc_col-xs-12 wpb_column vc_column_container ">
                                        <div class="wpb_wrapper">
                                            <div class='testimonials_holder clearfix dark'>
                                                <div class="testimonials testimonials_carousel" data-show-navigation="yes"
                                                data-animation-type="fade" data-animation-speed="1000" data-auto-rotate-slides="5">
                                                    <ul class="slides">
                                                        <li id="testimonials15290" class="testimonial_content">
                                                            <div class="testimonial_content_inner">
                                                                <div class="testimonial_text_holder">
                                                                    <div class="testimonial_text_inner" style="">
                                                                        <p>
                                                                            美容小贴士sssssssss
                                                                        </p>
                                                                        <p class="testimonial_author" style="font-weight: 400;color: #444038;font-size: 18px;">
                                                                            来自温馨提醒
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_bottom">
                </div>
            </div>
        </div>
    </div>
    <!-- paspartu_inner close div -->
</div>

