.blog-title{
  width: 50%;
  float: left;
  left: 10%;
}
.blog-short{
  width: 80%;
  height: 80px;
}

@media(max-width: 768px) {
  .blog_holder.masonry{
    width: 100% !important;
  }

  #my-blog{
    width: 100% !important;
  }


}