nav.mobile_menu{
  display: block !important;
}

@media (min-width: 768px) {
  .my-fa-css{
    display: none !important;
  }
}




.mobile_menu_button{
  display: table !important;
}

.carousel .item .text .separator {
margin-top: 20px;
margin-bottom: 20px;
}

.footer_top {
  padding: 0px;
}

.testimonials .testimonial_text_inner p:not(.testimonial_author) {
font-style: italic;
}

.single-product .product .summary .q_accordion_holder.accordion.boxed .ui-accordion-header {
text-transform: none;
font-weight: 400;
font-style: normal;
letter-spacing: 0;
}

nav.main_menu>ul>li>a{
padding: 0 32px;
}

.blog_holder article.format-quote .post_text .quote_author {
padding-top: 13px;
}

