.my-css{
  opacity: 1 !important;
}

@media(max-width: 768px) {
 .my-article{
    width: 100% !important;
  }
}

.blank{
  margin-top: 30px;
}
.element_from_left>div, .element_from_right>div, .element_from_top>div, .element_from_bottom>div,
.element_from_fade>div {
  opacity: 1 !important;
}


@media(min-width: 768px){
  .nav-right {
    float:left !important;
    position:relative;
    left:15%;
  }
  .my-li{
    margin-left: 40px;
    margin-right: 40px;
  }
  .blank{
    margin-top: 0px;
  }
}

element.style{
  background-color: #FAF9F7;
}

.my-post{
  background-color: #FDFCFD !important;
}

@media(max-width: 768px) {
  .my-text{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.home-image{
  width: 589px;
  height: 439px !important;
  padding-top: 0px;
}
