= form_for [@product, @material] do |f|
  = f.hidden_field 'product_id', value: @product.id
  = f.text_area 'profile', placeholder: '原材料介绍'
  = f.file_field 'image', placeholder: '图片'

  = f.submit button_value