div
  = form_for @product do |f|
    li= f.text_field 'name', placeholder: '产品名字'
    li= f.text_area 'profile', placeholder: '产品简介'
    li= f.text_field 'title', placeholder: '产品标题'
    li= f.text_field 'price', placeholder: '产品价格'
    li= f.label 'image', value: '图片上传'
    li= f.file_field 'image'
    div
      li= f.submit button_value
