<!-- <section class="content-box container">
  <div class="row">

  <div class="col-sm-10 col-md-4">
    <div class="thumbnail">

    normal
    <div class="ih-item square effect7 ">
      <a href='/products/1'>
        <div class="img"><%= image_tag 'left.jpg' %></div>
        <div class="info">
          <h3>护肤品名字</h3>
          <p>标题</p>
        </div>
      </a>
    </div>
    end normal

    <div class="caption">
        <h2>价格： 0 RMB </h2>
        <p>简短描述</p>
        <p>xxxxxxxxxx</p>
      </div>
    </div>
  </div>



  <div class="col-sm-10 col-md-4">
    <div class="thumbnail">

    normal
    <div class="ih-item square effect7 ">
      <a href='/products/1'>
        <div class="img"><%= image_tag 'left.jpg' %></div>
        <div class="info">
          <h3>护肤品名字</h3>
          <p>标题</p>
        </div>
      </a>
    </div>
    end normal

    <div class="caption">
        <h2>价格： 0 RMB </h2>
        <p>简短描述</p>
        <p>xxxxxxxxxx</p>
      </div>
    </div>
  </div>


  <div class="col-sm-10 col-md-4">
    <div class="thumbnail">

    normal
    <div class="ih-item square effect7 ">
      <a href='/products/1'>
        <div class="img"><%= image_tag 'left.jpg' %></div>
        <div class="info">
          <h3>护肤品名字</h3>
          <p>标题</p>
        </div>
      </a>
    </div>
    end normal

    <div class="caption">
        <h2>价格： 0 RMB </h2>
        <p>简短描述</p>
        <p>xxxxxxxxxx</p>
      </div>
    </div>
  </div>

</div>

</section> -->

<div class="vc_row wpb_row section vc_row-fluid grid_section" style=' padding-top:120px; text-align:center;'>
    <div class=" section_inner clearfix">
        <div class='section_inner_margin clearfix'>
            <div class="vc_col-sm-10 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1 vc_col-xs-offset-1 vc_col-xs-10 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center">
                        <div>
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="28" height="29" src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/custom-icon.png"
                                    class="vc_single_image-img attachment-full" alt="c" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 20px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h3>
                                Catalog
                            </h3>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 20px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h2>
                                Featured Products
                            </h2>
                        </div>
                    </div>
                    <div class="separator  small center  " style="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row section vc_row-fluid grid_section" style=' padding-bottom:0px; text-align:center;'>
    <div class=" section_inner clearfix">
        <div class='section_inner_margin clearfix'>
            <div class="vc_col-sm-3 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center  element_from_fade">
                        <div style='transition-delay:0.2s'>
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="248" height="281" src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/product1.jpg"
                                    class="vc_single_image-img attachment-full" alt="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 15px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h5>
                                Hand Creme
                            </h5>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 25px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing.
                            </p>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 30px;margin-bottom: 0px;">
                    </div>
                    <div class="custom_font_holder" style="font-family: Lora; font-size: 13px; line-height: 26px; font-style: italic; font-weight: 400; color: #c09f66; text-decoration: none; letter-spacing: 1px; padding: 0; margin: 0;border: 0px solid; text-align: center;">
                        <a href="#">
                            View More
                        </a>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 10px;margin-bottom: 0px;">
                    </div>
                </div>
            </div>
            <div class="vc_col-sm-3 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center  element_from_fade">
                        <div style='transition-delay:0.4s'>
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="248" height="281" src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/product2.jpg"
                                    class="vc_single_image-img attachment-full" alt="2" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 15px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h5>
                                BODY LOTION
                            </h5>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 25px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing.
                            </p>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 30px;margin-bottom: 0px;">
                    </div>
                    <div class="custom_font_holder" style="font-family: Lora; font-size: 13px; line-height: 26px; font-style: italic; font-weight: 400; color: #c09f66; text-decoration: none; letter-spacing: 1px; padding: 0; margin: 0;border: 0px solid; text-align: center;">
                        <a href="#">
                            View More
                        </a>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 10px;margin-bottom: 0px;">
                    </div>
                </div>
            </div>
            <div class="vc_col-sm-3 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center  element_from_fade">
                        <div style='transition-delay:0.6s'>
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="248" height="281" src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/product3.jpg"
                                    class="vc_single_image-img attachment-full" alt="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 15px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h5>
                                ANTI-AGE CREME
                            </h5>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 25px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing.
                            </p>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 30px;margin-bottom: 0px;">
                    </div>
                    <div class="custom_font_holder" style="font-family: Lora; font-size: 13px; line-height: 26px; font-style: italic; font-weight: 400; color: #c09f66; text-decoration: none; letter-spacing: 1px; padding: 0; margin: 0;border: 0px solid; text-align: center;">
                        <a href="#">
                            View More
                        </a>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 10px;margin-bottom: 0px;">
                    </div>
                </div>
            </div>
            <div class="vc_col-sm-3 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center  element_from_fade">
                        <div style='transition-delay:0.8s'>
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="248" height="281" src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/product4.jpg"
                                    class="vc_single_image-img attachment-full" alt="4" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 15px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h5>
                                ANTI-WRINKLE LOTION
                            </h5>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 25px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing.
                            </p>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 30px;margin-bottom: 0px;">
                    </div>
                    <div class="custom_font_holder" style="font-family: Lora; font-size: 13px; line-height: 26px; font-style: italic; font-weight: 400; color: #c09f66; text-decoration: none; letter-spacing: 1px; padding: 0; margin: 0;border: 0px solid; text-align: center;">
                        <a href="#">
                            View More
                        </a>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 10px;margin-bottom: 0px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row section vc_row-fluid grid_section" style=' padding-top:0px; padding-bottom:110px; text-align:center;'>
    <div class=" section_inner clearfix">
        <div class='section_inner_margin clearfix'>
            <div class="vc_col-sm-3 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center  element_from_fade">
                        <div style='transition-delay:0.2s'>
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="248" height="281" src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/product3.jpg"
                                    class="vc_single_image-img attachment-full" alt="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 15px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h5>
                                ANTI-AGE CREME
                            </h5>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 25px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing.
                            </p>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 30px;margin-bottom: 0px;">
                    </div>
                    <div class="custom_font_holder" style="font-family: Lora; font-size: 13px; line-height: 26px; font-style: italic; font-weight: 400; color: #c09f66; text-decoration: none; letter-spacing: 1px; padding: 0; margin: 0;border: 0px solid; text-align: center;">
                        <a href="#">
                            View More
                        </a>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 10px;margin-bottom: 0px;">
                    </div>
                </div>
            </div>
            <div class="vc_col-sm-3 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center  element_from_fade">
                        <div style='transition-delay:0.4s'>
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="248" height="281" src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/product4.jpg"
                                    class="vc_single_image-img attachment-full" alt="4" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 15px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h5>
                                ANTI-WRINKLE LOTION
                            </h5>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 25px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing.
                            </p>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 30px;margin-bottom: 0px;">
                    </div>
                    <div class="custom_font_holder" style="font-family: Lora; font-size: 13px; line-height: 26px; font-style: italic; font-weight: 400; color: #c09f66; text-decoration: none; letter-spacing: 1px; padding: 0; margin: 0;border: 0px solid; text-align: center;">
                        <a href="#">
                            View More
                        </a>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 10px;margin-bottom: 0px;">
                    </div>
                </div>
            </div>
            <div class="vc_col-sm-3 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center  element_from_fade">
                        <div style='transition-delay:0.6s'>
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="248" height="281" src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/product1.jpg"
                                    class="vc_single_image-img attachment-full" alt="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 15px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h5>
                                Hand Creme
                            </h5>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 25px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing.
                            </p>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 30px;margin-bottom: 0px;">
                    </div>
                    <div class="custom_font_holder" style="font-family: Lora; font-size: 13px; line-height: 26px; font-style: italic; font-weight: 400; color: #c09f66; text-decoration: none; letter-spacing: 1px; padding: 0; margin: 0;border: 0px solid; text-align: center;">
                        <a href="#">
                            View More
                        </a>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 10px;margin-bottom: 0px;">
                    </div>
                </div>
            </div>
            <div class="vc_col-sm-3 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center  element_from_fade">
                        <div style='transition-delay:0.8s'>
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="248" height="281" src="http://demo.qodeinteractive.com/bridge79/wp-content/uploads/2015/04/product2.jpg"
                                    class="vc_single_image-img attachment-full" alt="2" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 15px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h5>
                                BODY LOTION
                            </h5>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 25px;margin-bottom: 0px;">
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing.
                            </p>
                        </div>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 30px;margin-bottom: 0px;">
                    </div>
                    <div class="custom_font_holder" style="font-family: Lora; font-size: 13px; line-height: 26px; font-style: italic; font-weight: 400; color: #c09f66; text-decoration: none; letter-spacing: 1px; padding: 0; margin: 0;border: 0px solid; text-align: center;">
                        <a href="#">
                            View More
                        </a>
                    </div>
                    <div class="separator  transparent center  " style="margin-top: 10px;margin-bottom: 0px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>