<div class="container">
  <div class="myjumbotron">

    <div class="section content-box container">
      <div class="row">

        <div class="col-md-6">
          <!-- normal -->
    <div class="ih-item square effect3 bottom_to_top"><a>
        <div class="img"><%= image_tag 'left.jpg' %></div>
        <div class="info">
          <h3>产品名称</h3>
         <!-- <p>Description goes here</p> -->
        </div></a></div>
    <!-- end normal -->

        </div>
        <div class="col-md-4 col-md-offset-1">
          <center><h2>产品</h2></center>
          <center><p>标题</p></center>
          <h3>产品介绍 & 描述：</h3>
          <p>dsdsdsdssds</p>
          <h3>产品价格：</h3>
          <p>0 RMB</p>
          <button name="buy" class='btn btn-primary pull-right'> 购买 </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <center><h2>原材料介绍</h2></center>
    <div class=''>
      <%= image_tag 'test.jpg', class: 'detail' %>
    </div>
  </div>
</div>
