<!DOCTYPE html>
<html lang="en-US">

  <head>
      <meta charset="UTF-8" />
      <title>
          GAIA | 护肤精品
      </title>

      <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

      <link rel="shortcut icon" type="image/x-icon" href="http://demo.qodeinteractive.com/bridge79/wp-content/themes/bridge/img/favicon.ico">
      <link rel="apple-touch-icon" href="http://demo.qodeinteractive.com/bridge79/wp-content/themes/bridge/img/favicon.ico"
      />

      <link href="http://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
      <script src="http://vjs.zencdn.net/4.11/video.js"></script>

      <style type="text/css">
        img.wp-smiley,
        img.emoji {
          display: inline !important;
          border: none !important;
          box-shadow: none !important;
          height: 1em !important;
          width: 1em !important;
          margin: 0 .07em !important;
          vertical-align: -0.1em !important;
          background: none !important;
          padding: 0 !important;
        }
      </style>
    <!-- Google Analytics start -->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-50398491-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- Google Analytics end -->

      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <!--[if gte IE 9]>
          <style type="text/css">
              .gradient { filter: none; }
          </style>
      <![endif]-->


      <!--[if IE 8]>
          <link rel="stylesheet" type="text/css" href="http://demo.qodeinteractive.com/bridge79/wp-content/plugins/js_composer/assets/css/vc-ie8.css"
          media="screen">
      <![endif]-->
  </head>

  <body class="home page page-id-15252 page-template page-template-full_width page-template-full_width-php ajax_fade page_not_loaded  qode-title-hidden paspartu_enabled columns-3 qode-theme-ver-7.0 wpb-js-composer js-comp-ver-4.4.4 vc_responsive">
    <div class="ajax_loader">
      <div class="ajax_loader_1">
          <div class="cube">
          </div>
      </div>
    </div>
    <div class="wrapper">
        <div class="wrapper_inner">
          <%= render '/shared/header' %>
          <div class="blank">
            <%= yield %>
          </div>
          <%= render '/shared/footer' %>
        </div>
    </div>


  </body>

</html>